@page "/factures"
@using Facturation.Shared

@inject IBusinessData data


<h3>Factures</h3>

<p> page de listing des factures</p>

@if (data.Factures == null)
{
    <p><em>Chargement des factures...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>client</th>
                <th>numero</th>
                <th>date de réglement </th>
                <th>montant</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facture in data.Factures)
            {
                <tr>
                    <td>@facture.Client</td>
                    <th>@facture.Numero</th>
                    <th>@facture.DateReglement</th>
                    <th>@facture.Montant</th>
                </tr>
            }
        </tbody>
    </table>
}
